<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Echolytix Hand Sign Gesture Test Suite" verbose="2">
    <test name="Hand Sign Gesture Automated UI Tests">
        <classes>
            <class name="com.echolytix.tests.HandSignGestureTest" />
        </classes>
    </test>
</suite>
